extends layout.pug

block content 
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  article.grid-container.portfolio-intro.portfolio-project
    .grid-x
      .cell.small-6.medium-9.large-9

        h1 Philipp

        p.lead.text-light
          | Full Stack JavaScript Developer.
        .portfolio-bio
          p
            | This is Developer Biography. During the Treehouse Techdegree I ve been working on following projects
            ul
              li Random Quote Generator
              li Pagination and Event Listeners
              li Validation Form
              li OOP Game Show App
              li Fetching Data from APIs

      .cell.portfolio-meta.small-6.medium-2.large-3
        h6 Skills
        ul
          li Express
          li Javascript
          li HTML
          li CSS

        h6 Contact Info
        ul
          li +4917467...
          li phlpp_rchtr@protonmail.com

        a.button.expanded(href='https://www.linkedin.com/in/philipp-richter35/') LinkedIn
        a.button.expanded(href='https://github.com/kasu207/') GitHub
        a.button.expanded(href='https://twitter.com/phlpp_rchr') Twitter
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  